*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    height: 80px;
    background-color: #a00400;
    
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#logo {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
}

.logo {
    height: 110px;
    width: auto;
}

#menu{
    font-size: 18px;
}

#menu ul{
    list-style: none;
    display: flex;
    gap: 40px;
}

#menu ul li a{
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 20px;
    transition: all 0.2s;
}

#menu ul li a:hover {
    color: #12a000;
}

.kiosco-container {
  position: relative;
  text-align: center;
}

.kiosco-imagen {
    height: 500px;
    width: 100%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    filter: brightness(60%);
}

.kiosco-texto {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fffaf7;
  padding: 20px 40px;
  border-radius: 12px;
  font-size: 2.8rem;
  text-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
  font-family: 'Poppins', sans-serif;
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background: #fff;
  border-radius: 2px;
}

/* Responsive */
@media (max-width: 768px) {

  #menu ul {
    display: none;
    flex-direction: column;
    background-color: #a00400;
    position: absolute;
    top: 80px;
    right: 0;
    width: 200px;
    padding: 20px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  #menu ul.active {
    display: flex;
  }

  .hamburger {
    display: flex;
  }
}
