<header>
    <div id="logo">
        <img src="assets/logo.png" alt="Logo Parque Viejo" class="logo">
    </div>
    <div id="menu">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Novedades</a></li>
            <li><a href="#">Servicios</a></li>
            <li><a href="#">Encargos</a></li>
            <li><a href="#">Ubicación</a></li>
        </ul>
    </div>
</header>
<div class="kiosco-container">
    <img src="assets/kiosco.jpg" alt="Imagen Kiosco Exterior" class="kiosco-imagen">
    <h1 class="kiosco-texto">Tu kiosco de siempre, más cerca que nunca.</h1>
</div>