<section id="ubicacion">
  <h1 class="ubicacion-titulo">¿DÓNDE PUEDES ENCONTRARNOS?</h1>

    <iframe 
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3768.957747631362!2d-5.693659223244022!3d43.30862047464819!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd365f2bd98de123%3A0xe4d303fb49d447ba!2sKiosco%20parque%20viejo!5e1!3m2!1ses!2ses!4v1761766391183!5m2!1ses!2ses" 
        width="600" 
        height="450" 
        style="border:0;" 
        allowfullscreen="" 
        loading="lazy" 
        referrerpolicy="no-referrer-when-downgrade">
    </iframe>
</section>
