<section id="servicios">
  <h1 class="servicios-titulo">¿CUÁLES SON NUESTROS SERVICIOS?</h1>
  <p class="servicios-intro">
    En nuestro kiosco no solo encontrarás productos, también ofrecemos servicios pensados para hacerte la vida más fácil: desde recargas de CTA hasta encargos personalizados. Aquí te mostramos todo lo que podemos hacer por ti.
  
  <div class="servicios-cards">
    <div
      class="card"
      *ngFor="let servicio of servicios"
      #cardRef
      [@fadeSlide]="servicio.visible ? 'visible' : 'hidden'"
    >
      <img [src]="servicio.imagen" [alt]="servicio.titulo">
      <h2 class="card-titulo">{{ servicio.titulo }}</h2>
    </div>
  </div>
</section>