<section id="novedades">
  <h1 class="novedades-titulo">DESCUBRE NUESTRAS NOVEDADES</h1>
  <p class="novedades-intro">
    Aquí podrás ver todas nuestras novedades: productos recién llegados, sorpresas especiales y todo lo que vamos incorporando para que tu visita al kiosco sea aún más divertida.
  </p>
  <div class="novedades-cards">
    <div
      class="card"
      *ngFor="let novedad of novedades; let i = index"
      [class.primera-card]="i === 0"
      [class.card-con-descripcion]="novedad.descripcion"
      #cardRef
      [@fadeSlide]="novedad.visible ? 'visible' : 'hidden'"
    >
        <!-- CARD NORMAL -->
      <ng-container *ngIf="novedad.tipo === 'normal'">
        <img [src]="novedad.imagen" [alt]="novedad.titulo">
      </ng-container>

      <!-- CARD CON CARRUSEL -->
      <ng-container *ngIf="novedad.tipo === 'carrusel'">
        <app-carrusel [imagenes]="novedad.imagenes!"></app-carrusel>
      </ng-container>

    <!-- CARD CON DESCRIPCIÓN -->
        <h2 class="card-titulo">{{ novedad.titulo }}</h2>
        <ng-container class="card-con-descripción" *ngIf="novedad.descripcion">
          <p class="card-descripcion">{{ novedad.descripcion }}</p>
        </ng-container>
  </div>
</div>
</section>
