#novedades {
  background-color: #fffaf7;
  text-align: center;
  padding: 20px 20px;
}

.novedades-titulo {
  font-size: 2.8rem;
  color: #a00400;
  margin-bottom: 40px;
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.novedades-intro {
  font-size: 1.1rem;
  color: #333;
  max-width: 800px;
  margin: 0 auto 40px;
  line-height: 1.6;
  font-family: 'Poppins', sans-serif;
}


.novedades-cards {
  display: flex;
  justify-content: center;
  gap: 60px;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 calc(33.333% - 60px);
  max-width: 400px;
  height: 350px;
  background-color: #12a000;
  border-radius: 6px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.35);
  overflow: hidden;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  margin-bottom: 20px;
}

.card:hover {
  box-shadow: 0 10px 25px rgba(0,0,0,0.45);
  transform: translateY(-8px);
}


.card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.card-titulo {
  font-size: 1.3rem;
  color: #ffffff;
  text-align: center;
  margin-bottom: 50px;
  line-height: 8px;
}

.card.card-con-descripcion {
  height: 410px;
}

.card.card-con-descripcion .card-descripcion {
  margin-top: -45px;
}

.card-descripcion {
  font-size: 1.1rem;
  color: #ffffff;
  padding: 10px 14px 16px;
}

@media (max-width: 1024px) {
  .card {
    flex: 0 0 calc(50% - 40px);
    width: auto;
  }
}

@media (max-width: 768px) {
  .card {
    flex: 0 0 100%;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
  }

  .servicios-cards {
    gap: 30px;
  }

  .card-titulo {
    font-size: 1.1rem;
    margin-bottom: 20px;
  }

  .card.card-con-descripcion .card-descripcion {
    margin-top: -10px;
  }
}